package pages

import (
	"github.com/authly/internal/templates"
	"github.com/authly/internal/templates/layouts"
)

templ Home() {
	if templates.IsHxRequest(ctx) {
		@layouts.HXLayout() {
			@HomeContent()
		}
	} else {
		@layouts.DefaultLayout() {
			@HomeContent()
		}
	}
}

templ HomeContent() {
	<h1 class="text-primary-600 font-bold text-2xl">안녕하세요~</h1>
	<p>반가워요~</p>
}
