package pages

import (
	"github.com/authly/internal/templates"
	"github.com/authly/internal/templates/layouts"
)

templ NotFound() {
	if templates.IsHxRequest(ctx) {
		@layouts.HXLayout() {
			@NotFoundContent()
		}
	} else {
		@layouts.DefaultLayout() {
			@NotFoundContent()
		}
	}
}

templ NotFoundContent() {
	<h1>그런페이지는없어요~</h1>
}
